.login-portal {
    &__header {
        background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
        align-self: stretch;
        color: var(--color-grey-dark-4);
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        font-family: serif;
        font-weight: 800;
        font-size: 16rem;
        text-shadow: -2px -2px white;

    }


    &__interface {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 2fr 1fr;
        height: 100%;
        align-content: space-between;

        &--message{
        
            & h1 {
                font-size: 8rem;
                font-family: "Lato", sans-serif;
                font-weight: 300;
                
            }
        }
        
        &--input {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;


            &--email,
            &--password,
            &--nickname{
                display: flex;
                justify-content: center;
                align-items: center;

                &--icon {
                    height: 6rem;
                    width: 6rem;
                    fill: white;
                    margin-right: 1.5rem;
                }

                &--input {
                    background-color: var(--color-grey-dark-4);
                    font-size: 2.5rem;
                    border: none;
                    border-radius: 3px;
                    border-bottom: 3px solid var(--color-grey-dark-1);
                    height: 5rem;
                    color: white;
                    
                    &:focus {
                        outline: none;
                        border-bottom: 3px solid var(--color-primary);
                    }
                }
            }

            &--submit-btn {
                background-color: white;
                height: 6rem;
                width: calc(100% - 8rem);
                border: none;
                border-radius: 1000px;
                color: black;
                font-size: 3rem;
                max-width: 50rem;
                font-family: "Lato", sans-serif;
                font-weight: 300;

                &:active, &:focus {
                    animation: scaleOscillate .45s linear infinite;
                }
            }
        }
    
        &--options {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            & a {
                color: white;
            }

        }
    }   
}
