:root {
    --color-black:           #000;

    --color-grey-dark-1:     #999;
    --color-grey-dark-2:     #777;
    --color-grey-dark-3:     #333;
    --color-grey-dark-4:     #222;
    --color-grey-dark-5:     #111;

    --color-white:           #fff;

    --color-grey-light-1:    #f8f8f8;
    --color-grey-light-2:    #f1f1f1;
    --color-grey-light-3:    #ebebeb;
    --color-grey-light-4:    #e4e4e4;
    --color-grey-light-5:    #dedede;
    --color-grey-light-6:    #d7d7d7;
    --color-grey-light-7:    #d0d0d0;
    --color-grey-light-8:    #cacaca;
    --color-grey-light-9:    #c3c3c3;
    --color-grey-light-10:   #bdbdbd;

    --color-primary:         #001D4A;

    --color-secondary:       #605856;

    --color-tertiary:        #FFC857;
    --color-tertiary-light:  #ffd071;
    --color-tertiary-dark:   #ffb724;

    --color-quaternary:      #797d7f;

    --color-quinary:         #c1c8cc;

    --visible-nav-bar-height:8rem;

    --content-width: 100rem;
}
